@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Varela+Round&display=swap");

body {
  background-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2vw;
}
nav {
  font-family: "Raleway", sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 65px;
  background-color: black;
  color: rgb(255, 255, 255);
}

nav ul li {
  padding: 0 12px;
}

.brand img {
  width: 70px;
  padding: 0 8px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
  font-family: "Varela Round", sans-serif;
}
.container {
  min-height: 72vh;
  background-color: black;
  color: wheat;
  font-family: "Varela Round", sans-serif;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
  padding: 34px;
  background-image: url(files/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.songList {
  width: 68%;
}

.songName {
  /* margin-left: 15px; */
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.bottom {
  position: sticky;
  bottom: 0;
  height: 130px;
  background-color: black;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons {
  margin-top: 15px;
}

.icons i {
  cursor: pointer;
  margin: 0 15px;
}
#progressBar {
  width: 80vw;
  text-align: center;
  cursor: pointer;
}

.songItem {
  height: 40px;
  display: flex;
  background-color: rgba(242, 206, 140, 0.53);
  /* width: 80%; */
  color: rgb(0, 0, 0);
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.songItem img {
  width: 23px;
  height: 23px;
  margin: 0 23px;
  border-radius: 34px;
}

.timeStamp {
  margin: 0 23px;
}

.timeStamp i {
  cursor: pointer;
  margin-left: 10px;
}

.songItemContainer {
  margin-top: 60px;
}

.songInfo {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  position: absolute;
  left: 10vw;
  font-family: "Varela Round", sans-serif;
  margin-top: 20px;
  width: 33vw;
}

.songInfo img {
  width: 100px;
  height: 18px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  margin-top: 15px;
}

#masterSongName {
  margin-bottom: 7px;
  margin-top: 7px;
}
/* Media Queries */
@media (max-width: 768px) {
  /* Styles for tablets */
  .container {
    width: 90%;
    padding: 20px;
  }

  .songInfo {
    width: 90%;
    left: 5%;
  }
}

@media (max-width: 480px) {
  /* Styles for mobile devices */
  .container {
    flex-direction: column;
  }

  .songItem img {
    display: none;
  }

  .songName {
    margin-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .length {
    display: none;
  }
  .songInfo {
    position: static;
    width: 100%;
    margin-top: 10px;
  }

  .bottom {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .icons {
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
  }

  .icons i {
    font-size: 2rem;
    margin: 0 5px;
  }

  .songInfo {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
  }

  .songInfo img {
    opacity: 0;
    width: 60px;
    margin-right: 10px;
  }
}
